body{
    background-color: #1c1e26;
    font-family: 'Cabin', sans-serif;
    display: flex;
}

.index__container{
    height: 100%;
    display: flex;
    align-items: center;
}
.portada__container{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 65%;
}
.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centrado img{
    width: 50%;
    height: auto;
}
.centrado h1{
    font-size: 2rem;
    color: #fdeb37;
}

.foto__portada img{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    border-radius: 20px;
}

.login__index{
    width: 35%;
    margin: 0 10px 0 10px;
}
.lateralizq{
    width: 2%;
}

.lateralder{
    width: 2%;
}

.espaciado__index{
    height: 20px;
}
/* primera seccion  */

.espaciado__index{
    height: 20px;
}

.first__div{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 100%;
height: 80px;
margin-top: 10px;
}
.first__div p{
font-weight: bold;
font-size: 20px;
color: #bdac9c;
}
.first__div img{
    width: 100px;
    height: auto;
}

/* segunda seccion */

.second__div{
display: flex;
flex-grow: 1;
flex-direction: column;
justify-content: center;
align-items: center;
height: 300px;
}
.second__div h2{
    text-align: center;
font-size: 35px;
margin-bottom: -5px;
color: #d1a701;
}
.second__div p{
font-size: 17px;
margin-bottom: 24px;
color: #d1a701;
}

.first__input{
border: 2px solid black;
background-color: #bdac9c;
height: 46px;
width: 80%;
border-radius: 6px;
padding: 0px 12px;
color: #1c1e26;
}
.first__input::placeholder {
    color: #1c1e26;
    font-size: 18px;
}

/* tercera seccion */

.third__div{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width:100%;
height: 150px;
}
.third__div button{
cursor: pointer;
}
.button__div{
height: 46px;
width: 80%;
border-radius: 6px;
font-size: 17px;
font-weight: 600;
margin: 12px 0 12px 0;
}
.button__div a{
    text-decoration: none;
    color: #1c1e26;
}


.third__div button:disabled {
opacity: 0.4;
pointer-events: none;
}
.third__div button:not(.minimal){
    background-color: #9d815b;
    color: #1c1e26;
}
.third__div button:not(.minimal):hover{
    background-color: #d1a701;
    color: #1c1e26;
}
.fourth__div{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 30px;
margin: 10px 0 0 0;
color: #bdac9c;
background-color: #aeaa46;
border-radius: 5px;
}
.fourth__div p{
color: #1c1e26;
}
.fourth__div p b{
font-size: 1.2rem;
}

// mediaqueries

@media (min-width: 550px){
    .lateralizq{
        width: 15%;
    }
    .container__index{
        width: 70%;
    }
    .lateralder{
        width: 15%;
    }
}
@media (min-width: 800px){
    .lateralizq{
        width: 15%;
    }
    .container__index{
        width: 70%;
    }
    .lateralder{
        width: 15%;
    }
}
@media (min-width:1000px){
    .lateralizq{
        width: 20%;
    }
    .container__index{
        width: 60%;
    }
    .lateralder{
        width: 20%;
    }
}
@media (min-width:1300px){
    .lateralizq{
        width: 25%;
    }
    .container__index{
        width: 50%;
    }
    .lateralder{
        width: 25%;
    }
}